@{
    Layout = "_LayoutDeslogado"; // Define o layout utilizado para a página, no caso, o layout para usuários deslogados.
}

<div class="container-fluid vh-100 d-flex justify-content-center align-items-center" style="background-image: url('/image/bg-image.jpg'); background-size: cover; background-position: center;  transition: background-image 1s ease-in-out;">
    <!-- Container que ocupa 100% da altura da tela (vh-100), com flexbox para centralizar o conteúdo tanto horizontal quanto verticalmente.
         Também possui um fundo de imagem, com ajustes no tamanho e no alinhamento da imagem. -->
    <div class="text-center text-white p-5" style="background-color: rgba(0, 0, 0, 0.5); border-radius: 10px;">
        <!-- Div que contém o conteúdo centralizado, com um fundo semitransparente para dar contraste ao texto, além de bordas arredondadas -->
        <h1 class="display-4 mb-4">Conecte-se, compartilhe e viva novas aventuras!</h1>
        <!-- Cabeçalho principal, chamando o usuário para se conectar e participar da plataforma -->

        <div class="d-flex justify-content-center gap-3">
            <!-- Container flexível para os botões, alinhando-os horizontalmente e separando-os com um gap -->
            <!-- Botão de Login, redireciona para a action Login do controlador Login -->
            <a asp-controller="Login" asp-action="Login" class="btn btn-light w-25">Login</a>

            <!-- Botão de Criar Conta, redireciona para a action CriarConta do controlador Login -->
            <a asp-controller="Login" asp-action="CriarConta" class="btn btn-light w-25">Criar Conta</a>
        </div>
    </div>
</div>
